$font-stack:  sans-serif;

// Google Fonts
$font-pt-sans: 'PT Sans', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-Catamaran: 'Catamaran', sans-serif;
// Colors
$White: #fff;
$title-color: #890d02;